@page "/article/news"
@attribute [MustHavePermission(FSHAction.View, FSHResource.News)]

@inject IStringLocalizer<Brands> L

@using FSH.BlazorWebAssembly.Client.Components.HtmlEditor;
@using System.ComponentModel.DataAnnotations;
@using FSH.BlazorWebAssembly.Client.Pages.Catalog

<FshTitle Title="@L["News"]" Description="@L["Manage News."]" />

<EntityTable @ref="_newsTable" TEntity="NewsDto" TId="Guid" TRequest="NewsViewModel" Context="@Context">
    <EditFormContent>
        <FSH.BlazorWebAssembly.Client.Components.Article.News.NewsEditForm Context="@context" IsCreate="@Context.AddEditModal.IsCreate">

       </FSH.BlazorWebAssembly.Client.Components.Article.News.NewsEditForm>
    </EditFormContent>

</EntityTable>



<EditForm Model="@Model">
    <DataAnnotationsValidator />
    <HtmlEditor HtmlValue="@Model.Body" Title="HTML Body">

    </HtmlEditor>
    <input type="text" value="@Model.Body" />
    <ValidationMessage For="@(() => Model.Body)" />
    <br />
    <div style="text-align: center">
        <button id="validateSubmit" class="samplebtn e-control e-btn" type="submit" data-ripple="true">Submit</button>
    </div>
</EditForm>

@* @code {


    


    // public string? CurrentLanguage { get; set; } = "en-US";

    // protected override async Task OnInitializedAsync()
    // {
    //     await base.OnInitializedAsync();
    // }

    // protected override void OnInitialized()
    // {
    //     // var currentPreference = ClientPreferences.GetPreference().Result;

    //     // CurrentLanguage = currentPreference == null ? "en-US" : ((ClientPreference)currentPreference).LanguageCode;

        
    // }
} *@
